*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $main-font;
  background-color: $main-background;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(tab-port) {
    height: 100%;
    flex-direction: column;
  }
}
